.button {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  border-radius: 2px;
  border: none;
}

.button:hover {
  opacity: 0.6;
}
