@media screen and (max-width: 500px) {
  .header_open {
    flex-direction: column-reverse;
    margin: 0 auto;
    max-height: 500px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding: 0 0 27px 0;
  }
}
