.profile__head {
  display: flex;
  align-items: center;
  gap: 25px;
}

@media screen and (max-width: 560px) {
  .profile__head {
    gap: 5px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .profile__head {
    gap: 10px;
    justify-content: right;
  }
}
