.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 200px * 2);
  margin: 0 auto;
  max-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  padding: 45px 0 37px 0;
}

@media screen and (max-width: 800px) {
  .header {
    width: calc(100% - 50px * 2);
    padding: 25px 26px;
  }
}
